

body {
    background-color: #35355f;
    font-family: 'Roboto', arial;
    color: white;

} 

/* score display */
#scoreDisplay {
    margin-top: 40px;
    display: flex;    
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

/* images */
.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 70px;
}

#Rock img {
   height: 32px;
   width: 32px;
}

#Paper img {
    height: 37px;
    width: 37px;
    margin-bottom: 4px;
}

button {
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.7s;
}

/* actions */
.actions {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

